.stream-scores-bar {
  &__main-panel {
    &__component {
      position: relative;
      z-index: 4;
      flex: 0 0 50%;
      max-width: 50%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72%;

      &--brand {
        .brand-image {
          margin-left: 10%;
        }
      }

      &--publicity {
        .brand-image {
          margin-right: 10%;
        }

        .sponsor-carousel {
          margin-right: 25%;
        }
      }

      &--info {
        align-items: flex-start;
        max-width: 100%;

        p {
          color: #fff;
          font-size: 1vw;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
}
